@{
    ViewBag.Title = "Home Page";
}

<div class="fb-video" data-href="https://www.facebook.com/100011143831388/videos/157828431265284/" data-width="500">
    <div class="fb-xfbml-parse-ignore">
        <blockquote cite="https://www.facebook.com/100011143831388/videos/157828431265284/">
            <a href="https://www.facebook.com/100011143831388/videos/157828431265284/">סרטון הסברה</a>
            <p>סרטון הסברה.</p>
           
        </blockquote>
    </div>
</div>